[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "metabCombiner"]
	path = metabCombiner
	url = https://github.com/hhabra/metabcombiner
	shallow = true
	registered = true
